.ant-card {
  display: flex;
  align-items: center;
  overflow: scroll;
}

.ant-card-cover {
  width: 14rem;
  min-width: 14rem;

  @media screen and (max-width: 42em) {
    width: 8rem;
    min-width: 8rem;
  }
}

.ant-card-body {
  padding: 0 10px 0 40px !important;
  text-align: start;
}

.ant-card-meta-title {
  font-weight: 500 !important;
  font-size: 22px !important;

  @media screen and (max-width: 42em) {
    font-size: 18px !important;
  }
}

.ant-card-meta-description {
  font-size: 18px !important;

  @media screen and (max-width: 42em) {
    font-size: 14px !important;
  }
}
